.accountCardTop{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
}

.accountCardBottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .accountDescription{
    display: flex;
    align-items: center;
    justify-content: center;
} */