#passwordGeneratorBody{
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

#passwordGenerator{
background-color: grey;
padding: 15px;
border-radius: 2px solid black;
display:flex;
justify-content: center;
align-items: center;
}