#passwordGeneratorBody{
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

#passwordGenerator{
/* background-color: grey; */
padding: 15px;
border-radius: 2px solid black;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

#form{
    display: grid;
    /* grid-template-columns: auto auto; */
    row-gap: 10px;
    /* column-gap: 10px; */
    justify-content: center;
    align-items: center;
}
/* #character-amount-container{
    display: flex;
    align-items: center;
} */
/* .title{
    margin: 0;
    text-align: center;
} */
.number-input{
    width: 70px;
}
.number-range{
    width: 170px;
}
.password-display{
    background-color: brown;
    color: black;
    padding: 10px;
    border: 1px solid black;
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    width: 80%;
}
/* .generate-password-button{
    width:px;
    
} */